<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Move Advisor</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <div class="container">
    <header>
        <div class="section_container">
            <p>Chess Move Advisor</p>
        </div>
    </header>

    <section>
        <div id="form_container" class="section_container">
            <form action="/process" method="POST" enctype="multipart/form-data">
                <div id="inputs_container">
                    <div class="switch_with_label">
                        <label for="image">Upload a board image:</label>
                        <input type="file" id="image" name="image" accept="image/*" required><br><br>
                    </div>

                    <div class="switch_with_label">
                        <label for="turn">Turn:</label>
                        <select id="turn" name="turn" required>
                            <option value="w">White</option>
                            <option value="b">Black</option>
                        </select><br><br>
                    </div>

                    <div class="switch_with_label">
                        <label for="white_king_castling">White King Castling</label>
                        <label class="switch">
                            <input type="checkbox" id="white_king_castling" name="white_king_castling" value="y">
                            <span class="slider round"></span>
                        </label><br><br>
                    </div>


                    <div class="switch_with_label">
                        <label for="white_queen_castling">White Queen Castling</label>
                        <label class="switch">
                            <input type="checkbox" id="white_queen_castling" name="white_queen_castling" value="y">
                            <span class="slider round"></span>
                        </label><br><br>
                    </div>

                    <div class="switch_with_label">
                        <label for="black_king_castling">Black King Castling</label>
                        <label class="switch">
                            <input type="checkbox" id="black_king_castling" name="black_king_castling" value="y">
                            <span class="slider round"></span>
                        </label><br><br>
                    </div>

                    <div class="switch_with_label">
                        <label for="black_queen_castling">Black Queen Castling</label>
                        <label class="switch">
                            <input type="checkbox" id="black_queen_castling" name="black_queen_castling" value="y">
                            <span class="slider round"></span>
                        </label><br><br>
                    </div>

                    <input type="submit" value="Envoyer">
                </div>
            </form>
        </div>
    </section>
    <footer>
        <div class="section_container">
            Project developed by R. Bozoki. Licensed under the MIT License. Source code available at: &nbsp; <a href="https://github.com/votre-repo" target="#">GitHub</a>.
        </div>
    </footer>
    </div>
</body>
</html>
