<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chess Move Advisor</title>

    <!-- Lien vers le fichier CSS externe -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
<h1>Chess Move Advisor</h1>
<form action="/process" method="POST" enctype="multipart/form-data">
    <!-- Champ pour télécharger une image -->
    <label for="image">Télécharger une image du plateau :</label>
    <input type="file" id="image" name="image" accept="image/*" required><br><br>

    <!-- Turn switch -->
    <label for="turn">Tour : Blanc</label>
    <label class="switch">
        <input type="checkbox" id="turn" name="turn" value="w">
        <span class="slider round"></span>
    </label>
    <label for="turn">Noir</label><br><br>

    <!-- White King Castling switch -->
    <label for="white_king_castling">Roque Roi Blanc</label>
    <label class="switch">
        <input type="checkbox" id="white_king_castling" name="white_king_castling" value="y">
        <span class="slider round"></span>
    </label><br><br>

    <!-- White Queen Castling switch -->
    <label for="white_queen_castling">Roque Dame Blanc</label>
    <label class="switch">
        <input type="checkbox" id="white_queen_castling" name="white_queen_castling" value="y">
        <span class="slider round"></span>
    </label><br><br>

    <!-- Black King Castling switch -->
    <label for="black_king_castling">Roque Roi Noir</label>
    <label class="switch">
        <input type="checkbox" id="black_king_castling" name="black_king_castling" value="y">
        <span class="slider round"></span>
    </label><br><br>

    <!-- Black Queen Castling switch -->
    <label for="black_queen_castling">Roque Dame Noir</label>
    <label class="switch">
        <input type="checkbox" id="black_queen_castling" name="black_queen_castling" value="y">
        <span class="slider round"></span>
    </label><br><br>

    <input type="submit" value="Envoyer">
</form>
</body>
</html>
